In [138]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [139]:
df = pd.read_csv('metrics_log.csv')
df = df.drop(["Epochs"], axis=1)
df['MAPE'] = df['MAPE'].apply(lambda x: 200 if x >= 200 else x)

In [140]:
# Minimum MAPE Values
min_mape_df = df.sort_values(by=["MAPE"], ascending=True)
display(min_mape_df.head())

     Product  Store      RMSE       MAPE  Model Runtime    Model
178  8011605   3328  0.000000   0.000000       0.233156    ARIMA
179  8011605   3328  0.000000   0.000000       1.618498   SARIMA
31   8011740   3328  0.393799   6.437766     130.803602  LSTM-v1
30   8011740   3328  0.395105   9.631947     127.268169  LSTM-v1
14   8011003   3889  4.911942  10.672592     158.249650  LSTM-v1

In [141]:
# Minimum RMSE Values
min_rmse_df = df.sort_values(by=["RMSE"], ascending=True)
display(min_rmse_df.head())

     Product  Store      RMSE       MAPE  Model Runtime    Model
178  8011605   3328  0.000000   0.000000       0.233156    ARIMA
179  8011605   3328  0.000000   0.000000       1.618498   SARIMA
25   8010903   4816  0.341179  21.859930     110.396573  LSTM-v1
58   8011605   3328  0.365103  10.835887      59.870407  LSTM-v1
31   8011740   3328  0.393799   6.437766     130.803602  LSTM-v1

In [142]:
# Minimum Model Runtime Values
min_runtime_df = df.sort_values(by=["Model Runtime"], ascending=True)
display(min_runtime_df.head())

     Product  Store      RMSE        MAPE  Model Runtime  Model
178  8011605   3328  0.000000    0.000000       0.233156  ARIMA
148  8011002   4388  0.961786   48.755644       0.233854  ARIMA
162  8017442   3349  2.840567  105.006265       0.305574  ARIMA
186  8011605   4816  1.130042   83.464165       0.328251  ARIMA
168  8017442   4816  1.130042   83.464165       0.342887  ARIMA

In [143]:
# General Stats
print(f"Number of stores: {df['Store'].nunique()}")
print(f"Number of products: {df['Product'].nunique()}")
print(f"Number of total models: {df.shape[0]}")

Number of stores: 9
Number of products: 7
Number of total models: 190

In [144]:
# LSTM Model Stats
lstm_v1_df = df[df["Model"] == "LSTM-v1"]

print("LSTM Model Runtime")
print(f"Number of models: {len(lstm_v1_df)}")
print(f"Mean RMSE: {lstm_v1_df['RMSE'].mean()}")
print(f"Mean MAPE: {lstm_v1_df['MAPE'].mean()}")
print(f"Runtime Mean: {lstm_v1_df['Model Runtime'].mean()}")
print(f"Runtime Standard Deviation: {lstm_v1_df['Model Runtime'].std()}")

LSTM Model Runtime
Number of models: 64
Mean RMSE: 4.351733558028883
Mean MAPE: 40.42589370670648
Runtime Mean: 128.58149813115597
Runtime Standard Deviation: 29.483834872047485

In [145]:
# SARIMA Model Stats
sarima_df = df[df["Model"] == "SARIMA"]

print("SARIMA Model Runtime")
print(f"Number of models: {len(sarima_df)}")
print(f"Mean RMSE: {sarima_df['RMSE'].mean()}")
print(f"Mean MAPE: {sarima_df['MAPE'].mean()}")
print(f"Runtime Mean: {sarima_df['Model Runtime'].mean()}")
print(f"Runtime Standard Deviation: {sarima_df['Model Runtime'].std()}")

SARIMA Model Runtime
Number of models: 63
Mean RMSE: 4.5112530636331885
Mean MAPE: 79.84389233396645
Runtime Mean: 68.06669240906125
Runtime Standard Deviation: 37.04266989557118

In [146]:
# ARIMA Model Stats
arima_df = df[df["Model"] == "ARIMA"]

print("ARIMA Model Runtime")
print(f"Number of models: {len(arima_df)}")
print(f"Mean RMSE: {arima_df['RMSE'].mean()}")
print(f"Mean MAPE: {arima_df['MAPE'].mean()}")
print(f"Runtime Mean: {arima_df['Model Runtime'].mean()}")
print(f"Runtime Standard Deviation: {arima_df['Model Runtime'].std()}")

ARIMA Model Runtime
Number of models: 63
Mean RMSE: 4.681675957538971
Mean MAPE: 81.82968508045225
Runtime Mean: 0.4741199924832299
Runtime Standard Deviation: 0.10070371827870629