In [25]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [26]:
df = pd.read_csv('metrics_log.csv')
df = df.drop(["Epochs"], axis=1)
df['MAPE'] = df['MAPE'].apply(lambda x: 200 if x >= 200 else x)
df['MAPE'] = df['MAPE'].apply(lambda x: x / 100)

In [27]:
# Minimum MAPE Values
min_mape_df = df.sort_values(by=["MAPE"], ascending=True)
display(min_mape_df.head())

     Product  Store      RMSE      MAPE  Model Runtime    Model
177  8011605   3328  0.000000  0.000000       0.233156    ARIMA
178  8011605   3328  0.000000  0.000000       1.618498   SARIMA
30   8011740   3328  0.393799  0.064378     130.803602  LSTM-v1
29   8011740   2189  0.395105  0.096319     127.268169  LSTM-v1
14   8011003   3889  4.911942  0.106726     158.249650  LSTM-v1

In [28]:
# Minimum RMSE Values
min_rmse_df = df.sort_values(by=["RMSE"], ascending=True)
display(min_rmse_df.head())

     Product  Store      RMSE      MAPE  Model Runtime    Model
177  8011605   3328  0.000000  0.000000       0.233156    ARIMA
178  8011605   3328  0.000000  0.000000       1.618498   SARIMA
25   8010903   4816  0.341179  0.218599     110.396573  LSTM-v1
57   8011605   3328  0.365103  0.108359      59.870407  LSTM-v1
30   8011740   3328  0.393799  0.064378     130.803602  LSTM-v1

In [29]:
# Minimum Model Runtime Values
min_runtime_df = df.sort_values(by=["Model Runtime"], ascending=True)
display(min_runtime_df.head())

     Product  Store      RMSE      MAPE  Model Runtime  Model
177  8011605   3328  0.000000  0.000000       0.233156  ARIMA
147  8011002   4388  0.961786  0.487556       0.233854  ARIMA
161  8017442   3349  2.840567  1.050063       0.305574  ARIMA
185  8011605   4816  1.130042  0.834642       0.328251  ARIMA
167  8017442   4816  1.130042  0.834642       0.342887  ARIMA

In [30]:
# General Stats
print(f"Number of stores: {df['Store'].nunique()}")
print(f"Number of products: {df['Product'].nunique()}")
print(f"Number of total models: {df.shape[0]}")

Number of stores: 9
Number of products: 7
Number of total models: 189

In [31]:
# LSTM Model Stats
lstm_v1_df = df[df["Model"] == "LSTM-v1"]

print("LSTM Model")
print(f"Number of models: {len(lstm_v1_df)}")
print(f"Mean RMSE: {lstm_v1_df['RMSE'].mean()}")
print(f"Mean MAPE: {lstm_v1_df['MAPE'].mean()}")
print(f"Runtime Mean: {lstm_v1_df['Model Runtime'].mean()}")
print(f"Runtime Standard Deviation: {lstm_v1_df['Model Runtime'].std()}")

LSTM Model
Number of models: 63
Mean RMSE: 4.376280677615048
Mean MAPE: 0.39912620893449735
Runtime Mean: 128.16622829058812
Runtime Standard Deviation: 29.531384658550763

In [32]:
# SARIMA Model Stats
sarima_df = df[df["Model"] == "SARIMA"]

print("SARIMA Model")
print(f"Number of models: {len(sarima_df)}")
print(f"Mean RMSE: {sarima_df['RMSE'].mean()}")
print(f"Mean MAPE: {sarima_df['MAPE'].mean()}")
print(f"Runtime Mean: {sarima_df['Model Runtime'].mean()}")
print(f"Runtime Standard Deviation: {sarima_df['Model Runtime'].std()}")

SARIMA Model
Number of models: 63
Mean RMSE: 4.5112530636331885
Mean MAPE: 0.7984389233396647
Runtime Mean: 68.06669240906125
Runtime Standard Deviation: 37.04266989557118

In [33]:
# ARIMA Model Stats
arima_df = df[df["Model"] == "ARIMA"]

print("ARIMA Model")
print(f"Number of models: {len(arima_df)}")
print(f"Mean RMSE: {arima_df['RMSE'].mean()}")
print(f"Mean MAPE: {arima_df['MAPE'].mean()}")
print(f"Runtime Mean: {arima_df['Model Runtime'].mean()}")
print(f"Runtime Standard Deviation: {arima_df['Model Runtime'].std()}")

ARIMA Model
Number of models: 63
Mean RMSE: 4.681675957538971
Mean MAPE: 0.8182968508045225
Runtime Mean: 0.4741199924832299
Runtime Standard Deviation: 0.10070371827870629

In [34]:
grouped_metrics = df.groupby("Model")[["RMSE", "MAPE"]].mean()
print(grouped_metrics)

             RMSE      MAPE
Model
ARIMA    4.681676  0.818297
LSTM-v1  4.376281  0.399126
SARIMA   4.511253  0.798439